* {
    margin: 0;
    /*! padding: 0; */
    box-sizing: border-box;
    font-family: monospace;
}

h1 {
    font-size: 4rem;
    background-color: orange;
}

h2 {
    font-size: 3.25rem;
    background-color: aquamarine;
}

h3 {
    font-size: 2.75rem;
    background-color: coral;
}

h4 {
    font-size: 2.5rem;
    background-color: cornflowerblue;
}

h5 {
    font-size: 2rem;
    background-color: mediumspringgreen;
}

h6,
ul li {
    font-size: 1.5rem;
    background-color: plum;
}

li::marker {
    content: "~ ";
}

ul {
    margin-right: 18px;
    background-color: plum;
}

a {
    color: blue;
}

a::before {
    content: "\1F517";
    background-color: black;
}